{% extends 'base.html' %}
{% load static %}

{% block title %}Sign in{% endblock title %}

{% block styles %}
    <!-- font Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap" rel="stylesheet">
    <!-- icon -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- css style -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/signin.css' %}">
{% endblock styles %}

{% block contents %}
<div class="container">
    <div class="content">
      <h1>Coffeeshop <span> XANSET</span></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quas odit accusamus ut. Tenetur rem debitis voluptate molestiae.</p>
    </div>
    <div class="signin-row">
      <form class="signin-row-form" action="{% url 'accounts:signin' %}" method="POST">
        {% csrf_token %}
        <div class="signin-row-judul">
          <h1>Sign-In <span>Akun</span></h1>
        </div>
        <h4 style="text-align:center;color:red;">{{info}}</h4>
        <div class="signin-form-label">
          <label for="email">Email</label>
        </div>
        <div class="signin-form-input">
          <i data-feather="mail"></i>
          <input type="email" name="email" id="email" placeholder="Type of email...">
        </div>
        <div class="signin-form-label">
          <label for="password">Password</label>
        </div>
        <div class="signin-form-input">
          <i data-feather="lock"></i>
          <input type="password" name="password" id="password" placeholder="Type of password...">
        </div>
        <div class="signin-form-sosmed">
          <a href="#"><i data-feather="mail"></i></a>
          <a href="#"><i data-feather="facebook"></i></a>
        </div>
        <div class="signin-btn">
          <button class="signin-form-btn" type="submit">Sign In</button>
        </div>
        <div class="signup">
          <p>apakah anda memiliki akun ? <a href="sign-up.html">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
  </div>
{% endblock contents %}


{% block scripts %}
<script>
    feather.replace()
  </script>
{% endblock scripts %}

