:root {
  --color: #ffffffff;
  --cream: #dbc2af;
  --cream-light: #d2b59a;
  --cream-medium: #bd9c81;
  --coffee: #b6895b;
  --cream-high: #ab845e;
  --burly-wood: #d3A776;
  --sienna: #9c622b;
  --dar-sienna: #84563c;
  --dark-brown: #522c18;
  --dark-olive-green: #24150f;
  --shadow: rgba(1, 1, 3, 0.5); 
  --bg: #01010101;
  --glasses:#28282810;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', arial;
  color: var(--color);
  background-color: var(--bg);
}

.container {
  width: 100%;
  height: 100vh;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  gap: 0.5rem;
}

.content {

}


.content h1 {
  font-size: 5rem;
  font-weight: 700;
  font-style: italic;
}

.content span {
  color: var(--coffee);
}

.content p {
  font-size: 0.8rem;
  font-weight: 100;
  mix-blend-mode: difference;
}

/* sign form */
.signup-row {
  display: flex;
  background-color: #3b1f0445;
  backdrop-filter: blur(12px);
  border-radius: 0.5rem;
  flex: 1 1 35rem;
  padding: 1rem 1rem;
}

.signup-row-form {
  flex: 1 1 50rem;
  padding: 1rem 1rem;
}

.signup-row-judul {
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  align-content: center;
  padding: 0 0 1rem;
}

.signup-row-judul span {
  color: var(--coffee);
}

.signup-form-label {
  display: flex;
  margin-top: 1rem;
  font-size: 1rem;

}

.signup-form-input {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--dark-olive-green);
  border: 1px solid #d2b59a;
  padding-left: 2rem;
  border-radius: 0.5rem;
}

.signup-form-input input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background: none;
  color: var(--color);
}

.signup-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signup-form-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: var(--font);
  background-color: var(--coffee);
  cursor: pointer;
  border: 1px solid var(--coffee);
  border-radius: 0.5rem;
}

.signup-form-btn:hover {
  background-color:var(--dark-olive-green);
  color: var(--coffee);
  border: 1px solid var(--coffee);
}

.signin {
  margin-top: 2rem;
}

.signin a{
  color: var(--coffee);
}

.signin a:hover{
  color: var(--dark-olive-green);
}